[2017-01-20 10:04] mayamoon opened #1 "How to change the Buffer size in Tcp StreamChannel?"
Very impress project,i am looking for a Libuv wapper for .netcore long time ago.
Thank you !
Do you  plan to add more detail document?
please add more example, like chart room ...
i found when Tcp IStreamChannel  WriteAsync  message length great than 1024 will caurse exception ,but i don't known how to fix it ,please help!.

[2017-01-23 00:56] #1 closed, assigned to nobody

[2017-02-26 02:42] StormHub opened #2 "Migrate FSPoll unit tests."
Port https://github.com/libuv/libuv/blob/v1.x/test/test-fs-poll.c

[2017-02-26 04:31] #2 closed

[2017-02-26 22:35] StormHub opened #4 "Migrate Poll tests for cross platform os_sock"
https://github.com/libuv/libuv/blob/v1.x/test/test-poll.c

[2017-02-26 23:07] StormHub commented on #4
https://github.com/dotnet/corefx/issues/6807
The socket internal handle is not actually exposed until .NETStandard 2.0

[2017-03-02 09:08] StormHub commented on #4
Merged Poll tests.

[2017-03-02 09:09] #4 closed

[2017-04-11 04:41] StormHub commented on #1
@mayamoon just double check, is this still an issue? I think I have already fixed this properly based on some feedback.

[2017-05-01 14:39] billlin0904 opened #36 "System.IndexOutOfRangeException"
Dear ~

I got the exception IndexOutOfRangeException when received data, In my code only receive no send any data.

So, how to fix the problem?

System.IndexOutOfRangeException: index:0, length:256 expected range >= 0 and < 0.
   於 NetUV.Core.Buffers.ByteBuffer.Validate(Int32 index, Int32 length)
   於 NetUV.Core.Buffers.ReadableBuffer.ReadString(Int32 length, Encoding encoding)

[2017-05-01 20:40] StormHub commented on #36
Hi,
Could you please give a bit more details about the stack trace? is it udp or  tcp?
Aslo, which version it is? I fixed some issue like this a while back.

[2017-05-02 04:50] billlin0904 commented on #36
I am using TCP socket in the project. logging as follows...

static void OnAccept(StreamHandle stream, ReadableBuffer data)
        {
            try
            {
                string message = data.Count > 0 ? data.ReadString(data.Count, Encoding.UTF8) : null;
                if (string.IsNullOrEmpty(message))
                {
                    return;
                }

                Con

[2017-05-02 10:50] StormHub commented on #36
I have found the issue, buffer validation should be based on buffer capacity rather than the inner length.
Thanks for reporting the issue.

[2017-05-02 22:05] StormHub commented on #36
PR fix Merged.

[2017-05-02 22:05] #36 closed

[2017-05-16 03:41] billlin0904 opened #38 "May you support old target framework? .Net Framework 4.5.2"
To encounter framework issue
Hi Johnny, I try to apply NetUV in my code(.Net Framework4.5.2), but have some problem about .netframework
, may you thinking to support.Net Framework4.52, thank you.

[2017-05-16 09:41] StormHub commented on #38
I think I could target 452, the reason I switched to 461 was because of some dependency packages require 46. Please let me have a look at this first. Thanks.

[2017-05-16 09:43] StormHub commented on #38
Just let you know that if your project target .NET Stand 1.3, it would work.

[2017-05-21 11:51] StormHub commented on #38
System.Net.NameResolution 4.3.0 is not compatible with net45
supports: net46 (.NETFramework,Version=v4.6)
That was the reason I bumped up to 4.6

[2017-05-21 11:53] StormHub commented on #38
Other Microsoft extensions all supports 4.51, looks fine.

[2017-05-21 11:53] StormHub commented on #38
Closing this issue for now.

[2017-05-21 11:53] #38 closed

[2017-06-02 09:10] seertenedos opened #39 "Support reading a string from a buffer till a delimiter from ReadableBuffer"
I am working on a Nntp server/client that uses a /r/n command delimiter but really it could be any delimiter people want instead of a fixed string length. since you are wrapping a socket lib the chances are people will want it for some sort of protocol so some way to check the location of something in the buffer and to extract to that point would be great. I don't really want to manage a string bu

[2017-06-02 10:11] StormHub commented on #39
The internal buffer actually had this built in but not exposed. Let me have a look at it first.

[2017-06-02 10:12] seertenedos commented on #39
Thanks.

On Fri, 2 Jun 2017 at 8:11 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-02 10:15] StormHub commented on #39
Initially, the idea was to pull the entire buffer as a string and decrements the buffer ref.

[2017-06-02 10:19] seertenedos commented on #39
In my case I am basically a pass though between multi client to multi
server so want to minimise work I do. If I read out 1.5 commands then I
need to store the 0.5 of a command till the rest comes in.

Even thought about reading pure binary but still have a similar issue of
needing to read till a particular character or byte code so need to buffer
the extra data for the complete next command.

On

[2017-06-02 10:23] StormHub commented on #39
I see.

[2017-06-02 11:00] seertenedos commented on #39
basically i am aiming for over 80mbps thoughput. i could only get 80mbps using standard dotnet core sockets so i am hoping libuv and more efficient handling of the network level will help with performance

[2017-06-02 11:08] StormHub commented on #39
I put libuv and netty buffer management together is pretty much aiming to achieve the same thing, very tight io spin with zero buffer copy :D

[2017-06-02 11:09] seertenedos commented on #39
i could see that it seemed well done so that was why i was hoping it could be built into the buffer if possible.

[2017-06-02 11:11] StormHub commented on #39
let me expose some sort of read until to the buffer.

[2017-06-02 12:41] seertenedos commented on #39
just wanted to let you know converted my code over to your lib from normal coreclr TcpClient using async without converting my clients yet and instantly halved cpu usage and got 110mbps thoughput which is the max of my internet connection. great job on performance! The buffer request above will most likely help even further and i can't wait to see cpu usage once i convert my client code as well.

[2017-06-03 01:13] seertenedos opened #40 "Support SSL"
Is there a recommended way for using the client when connecting to a server that uses ssl? Interested in being able to run ssl for the server as well but most important is the client at the minute.

[2017-06-03 04:08] StormHub commented on #40
Libuv by itself does not implement ssl, however, there are few libuv-ssl packages using open ssl packages. They all have pros and cons, I have not quite decided what to port over yet. That been said, ssl definitely is going to come at some point. My development cycle at the moment is waiting for net core 2.0 first then go from there.

[2017-06-03 04:11] StormHub commented on #39
Glad to hear! One of my motivations of this package was almost the same as what you have seen. Win sock async api does lots of context switching and buffer copying. I could not afford that for some heavy network tunnelling applications.

[2017-06-03 04:27] StormHub commented on #40
I will give net core 2.0 ssl stream a shot before looking into other solutions.

[2017-06-03 04:33] seertenedos commented on #40
Ok. For client side is the a point I could inject it before the buffer?

Generally for a NNTP client you want to use SSL for connection. Server is
local so that is fine for now. I just need the SSL for connecting to
external servers from my server.

On Sat, 3 Jun 2017 at 2:27 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-03 04:41] StormHub commented on #40
You mean establishing connection in ssl, then let libuv take over?

[2017-06-03 06:56] seertenedos commented on #40
No more let libuv manage the connection but have a sslstream or buffer on
top between libuv and dotnet app using your library?

On Sat, 3 Jun 2017 at 2:41 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-04 07:45] StormHub commented on #40
The way you describing is exactly what .net core 2.0 pipeline is supposed to do.  That was one the reasons I am waiting for it. Meanwhile, net core 2.0 also has the latest libuv 1.10.  I suppose we just have to wait for a bit stable realease of net core 2.0. It is too early to do anything now, some of the spec are constantly changing at the moment.

[2017-06-04 08:53] seertenedos commented on #40
Is it really that hard in current core 1.1? I know they did it for the
dotnet core webserver but I guess that is server side SSL instead of client
side.

Once I finish the client I will test it connecting to non SSL server and
then see if there is a way I can make it work.

On Sun, 4 Jun 2017 at 5:46 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-04 09:27] StormHub commented on #40
Put it this way, basically you have to give up buffer management to bring in ssl stream, which is kind of defeating the purpose of buffer pooling. It is doable now but not ideal.

[2017-06-04 09:29] StormHub commented on #40
.net core 2.0 has pipeline which solves this problem in a much more elegant way.

[2017-06-04 09:33] seertenedos commented on #40
Ok. Since most of the core Libs are meant to not be tied to the version of
dotnet core and are open source I wonder if I can copy out just the code
needed for ssl.

Still got a few days to finish my client and then I will start looking.
Core 2 has no release date yet last time I checked. Does pipelines need net
standard 2.0?

On Sun, 4 Jun 2017 at 7:29 pm, Johnny Z <notifications@github.com> wrote

[2017-06-04 09:35] StormHub commented on #40
It is not that far away, it is preview2 now, release is no autumn, about 2 - 3 month.

[2017-06-05 02:56] seertenedos commented on #40
Can you point me to the parts of core2 we need?  I see that libuv
v1.10.0-preview1 is out and works on core 1.0.1 and greater but i assume it
is some other package that is the issue.

On Sun, Jun 4, 2017 at 7:35 PM, Johnny Z <notifications@github.com> wrote:

[2017-06-06 21:27] seertenedos commented on #40
Think i found what you are waiting on. It is System.IO.Pipelines.Networking.Libuv right? https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines.Networking.Libuv

[2017-06-06 21:47] StormHub commented on #40
That one is experimental and internally used by kestrel server with libuv tcp handle.

[2017-06-06 21:57] seertenedos commented on #40
Is there another one somewhere else that you were talking about? Can you provide a link. In my case it is just a personal project for improving my systems at home but the client connections it makes out to the internet must be SSL so was thinking to keep the server using your lib as that works really well but maybe write the client to use what you were talking about in coming in core 2 so i could

[2017-06-06 22:08] StormHub commented on #40
Mainly released version of https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines
It is not that simple to convert, requires fair bit of work to fit in.

[2017-06-06 22:15] seertenedos commented on #40
ok but is it even a part of core2? I did find https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.IO.Pipelines.Networking.Libuv and standard pipelines is there as well and they only seem to need .NETStandard 1.3 so i may just need to add a new nuget server. I would need to adjust my client code a little as well as work out how to connect up the ssl still in the client

[2017-06-06 22:19] StormHub commented on #40
The corefxlab libuv pipeline does not support tls.

[2017-06-06 22:21] StormHub commented on #40
You have to build everything from scratch. But with the pipelining, it is much easier.

[2017-06-06 22:30] seertenedos commented on #40
I think i get it. I would need to create a class that does basically the same thing as SSLStream but over an IPipeConnection and it needs to implement that interface as well so i can put it inline. Using a StreamPipeConnection may make it easier as well. Hopefully this will not be too hard but last time i had rip apart SSLStream to support selecting ssl certificate based on hostname it was a bit o

[2017-06-06 23:45] StormHub commented on #40
Most of the implementations relying on new classes such as span, memory buffers. Too much of dependencies to pull over individually.

[2017-06-06 23:50] seertenedos commented on #40
they are all in separate nuget packages on that same nuget server and
adding the first nuget package should cause all the other required packages
to be pulled as well. That is the great thing about them separating the
run-time and the libraries. As long as nothing needs NetStandard 2 then it
should be fine and a quick check showed none needed netstandard 2. In fact
i did not see anything over nets

[2017-06-06 23:54] StormHub commented on #40
Please let me know how it goes. I plan to do this once net core 2 going into a reasonably stable state I can start over with new classes.

[2017-06-07 06:35] seertenedos commented on #40
sure!

On Wed, Jun 7, 2017 at 9:54 AM, Johnny Z <notifications@github.com> wrote:

[2017-06-07 07:57] seertenedos commented on #40
First tip if you want to use System.IO.Pipelines.Networking.Libuv you actually need to add 2 nuget repositories to get everything to install in current version of dotnet in netstandard 1.3 library.

For piplines etc
https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json
for dependancies
https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

i will let you know how i go once i build my cl

[2017-06-08 02:25] seertenedos commented on #40
pipelines are very similar to normal sockets but just a little harder to use. One of the major downsides i found at the minute is the nuget package published and the samples checked in wont work together. methods have changed so it may not be usable yet sadly. I thought they were just tweaking implementations but this is core things like reading the data that seems to have changed as far as i can

[2017-06-08 02:54] StormHub commented on #40
That one intensively use new io memory namespace and new span which is not available yet (only in net core 2.0). That is the reason I am waiting at the moment. The nightly packages tend to change a lot. Not something you can reliably code against.

[2017-06-08 06:16] seertenedos commented on #40
So that really leaves me with https://github.com/deleisha/evt-tls which I
have no idea of how to integrate or standard dotnet streams for clients
which may be the easiest.

I actually prefer you callback pattern over dotnet async and even pipeline
still needs a thread per client to read incoming.

On Thu, 8 Jun 2017 at 12:54 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-08 08:10] StormHub commented on #40
tls is all about open connections and negotiate then encrypt. It has to happen in the beginning, that makes it very hard to do some 'just plug it in'. Why not wait a while for net core 2.0. I am going to do it one way or another.

[2017-06-08 11:44] seertenedos commented on #40
Ok. I will just use normal socket for the clients I need as there is one I
am using already that has ssl support but it was just a bit of a CPU and
performance hog. I will work on other things in the meantime

On Thu, 8 Jun 2017 at 6:10 pm, Johnny Z <notifications@github.com> wrote:

[2017-06-10 11:54] StormHub commented on #39
PR merged.

[2017-06-10 11:54] #39 closed

[2017-06-19 17:45] krgn opened #44 "libuv version on linux"
## Abstract

I converted the EchoServer/Client example to FSharp and and am running into a problem on linux that I don't fully understand. You can find the code [here](https://github.com/krgn/netuv-example).

When I run the code on _Linux_ using _mono_ 4.6 I get a strange error when the client connects to the server:

`Echo client write error NetUV.Core.Native.OperationException: EFAULT : bad addr

[2017-06-19 20:01] StormHub commented on #44
Could you try on net core version? The error sounds very much like PInovke related. Also, the libuv library should be the net standard 1.9.2 version.

[2017-06-19 20:04] StormHub commented on #44
NetUV target the libuv library version built by Asp.Net.

[2017-06-19 20:12] krgn commented on #44
@StormHub I'll give it a shot. I had looked at the contents of `Libuv` and found there were no versions for linux, but checking again there is a debian and rhel folder with some shared libaries. 😕 Well, that might already solve my problem. Thx for replying!

[2017-06-19 20:36] StormHub commented on #44
There are fair bit of change in libuv 1.11.0, Asp.Net libuv library only up to about 1.10.xx at the moment. The error you getting sounds like some native method signature or parameter type is not expected.

[2017-06-20 05:18] StormHub commented on #44
Please let me how it goes :)

[2017-06-20 06:43] krgn commented on #44
I was able start both using the `.so` provided, yet the error remains the same. I could not get it to build using net core (1.0.3), and, even though the sample project might build, I can't use net core in my main project just yet. Do you think that it *should* work on mono? I could keep digging, but I'm by no means an expert in the PInvoke arena. Any hints greatly appreciated! Thx,k

[2017-06-20 07:33] StormHub commented on #44
Basically the binary libuv on different unix platform is slightly different. The error you getting meaning that there are native method entries in the wrong location of the binary of some type size does not match.  What is the problem of building on net core 1.0.3?

[2017-08-11 08:25] Norgerman opened #47 "Cause NullReferenceException in EventLoop"
`RunLoop` is called later than `Schedule`(sometimes maybe), and then will cause a ` NullReferenceException`

[2017-08-11 08:26] Norgerman commented on #47
pr #46

[2017-08-11 09:35] StormHub commented on #47
Hi, do you have full stack trace for this?

[2017-08-11 09:38] StormHub commented on #47
I believe it might be a better option to just do the schedule, then wait for the loop to start and process.
e.g. wait for the loop in a run state where it is guaranteed not to be null.

[2017-08-11 09:39] StormHub commented on #47
Let me change it a bit and let you to have a look at it.

[2017-08-11 09:44] Norgerman commented on #47
the error's stack trace，just use the loopthread sample
[code]

[2017-08-11 09:51] StormHub commented on #47
I see, thanks.

[2017-08-11 09:55] StormHub commented on #47
Well, the intention is that
await RunLoopAsync();
then call
eventLoop.Schedule

I will fix the example.

[2017-08-11 10:00] Norgerman commented on #47
In the code show that  `await RunLoopAsync();` will block util the loop is closed，so `eventLoop.Schedule` will not be called property....

[2017-08-11 10:01] StormHub commented on #47
There are a few places need to be guarded properly. Let me change it first.

[2017-08-11 10:06] StormHub commented on #47
The EventLoop class is kind of experimental, forget to put some attribute on it.

[2017-08-11 10:08] Norgerman commented on #47
:smile:

[2017-08-11 10:42] StormHub commented on #47
#48, try it out.

[2017-08-11 10:49] Norgerman commented on #47
works~ 👍

[2017-08-11 11:31] StormHub commented on #47
PR #48

[2017-08-11 11:31] #47 closed

[2017-08-11 12:01] StormHub commented on #44
Libuv package has been upgraded to 1.10.0

[2017-08-11 12:01] #44 closed

[2017-08-14 05:29] oliverw opened #49 "Question about ReadableBuffer.ReadString with separator"
Hi Jonny

I've recently replaced my own implementation of a managed wrapper around LibUv with NetUV and got a question about the <code>ReadableBuffer.ReadString</code> overload that accepts a separator. I'm using this to split incoming character data into lines:

https://github.com/coinfoundry/mining-core/blob/master/src/MiningCore/JsonRpc/JsonRpcConnection.cs#L46

What I'm not sure about (without

[2017-08-14 05:43] StormHub commented on #49
If the separator is not found, then entire content will be read out as string.

[2017-08-14 06:18] oliverw commented on #49
Thanks. I need to change my implementation then.

[2017-08-14 06:18] #49 closed

[2017-08-15 11:20] Norgerman opened #50 "IndexOutOfRangeException occurred in Readbytes"
Exception detail
[code]

[2017-08-15 17:28] doruu12 commented on #50
Minor bug in the updating reader position
https://github.com/StormHub/NetUV/pull/51

[2017-08-16 11:29] StormHub commented on #50
#52

[2017-08-16 11:29] #50 closed

[2017-08-18 10:48] Green7 opened #53 "How to consume data"
I'm trying to apply NetUV in my project.
I am sending large amounts of data and I need entire data to process them.

Now I handle data in OnRead(StreamHandle streamHandle, ReadableBuffer data) event but in ReadableBuffer data is (of course) chunked.
What is the best and most effective "NetUV" way to collect this data and process them ?

For example: I want to get  and process 10 000 bytes.  Now I'

[2017-08-18 12:03] StormHub commented on #53
Hi, what is the average size of the data in bytes?
The readable buffer internally has reference counting, it can be exposed to retain without copying.

[2017-08-18 12:44] Green7 commented on #53
Averge size depends on several factors (compression, user activity etc.)  but in current solution in some cases we sending data in 150 KB chunks. (and I need this full 150 KB chunk to process it).

How to use ReadableBuffer without coping ?

[2017-08-18 14:07] lth3726381 opened #54 "How to get a callback on server when client disconnect"
In the Example EchoServer/Client ,when remote tcp server or client disconnected,there are some logs printed on console,but no callback. How can I do jobs when client disconnect?

[2017-08-18 21:48] StormHub commented on #54
The OnError callback will be invoked on the handle.

[2017-08-18 21:50] StormHub commented on #53
In this case, I think the readable buffer needs to exposed increment reference count and you can get hold of the bytes without copying. I have to add some new methods into the readable buffer.

[2017-08-18 23:56] Green7 opened #55 "Multiple loops and threads"
I'm trying to run multiple loops (Loop class) in separate threads.
Its works but I have problems on application shutdown.

So it is possible to run two (or more) loops in separate threads (or tasks) ?
Any tips on how to do this properly ?

[2017-08-19 00:26] StormHub commented on #55
The loop is designed to run in a single thread and you can use as many loops as you like as long as the handles bound to the loop are executed properly from the loop they are created.
I am not sure about what you mean by problems on shutdown, what was the issue?

[2017-08-19 01:32] lth3726381 commented on #54
Which OnError? Only found a param named OnError in StreamHandle.OnRead,and it won't be invoked when client disconnect.
Is there any public callback like "OnClose" and it will be invoked when a handle is disposing?(when disconnect by remote,not the CloseHandle method)

[2017-08-19 01:53] lth3726381 commented on #54
Another way to get the "OnClose" callback is checking `ReadableBuffer.Count==0` in  `OnAccept`. but it's not friendly to newer(me). A public callback setter is more intuitively,Or write a check method into example.

[2017-08-19 06:13] StormHub commented on #54
https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Handles/StreamHandle.cs#L70
When a new stream starts and the OnRead in called with callbacks of accept/error/complete
The OnError callback will be invoked if any internal handle errors happened.

[2017-08-19 10:27] Green7 commented on #55
This is the situation:
I have a listening thread. It looks like:
[code]

To stop this thread I call: `_loop?.Dispose(); ` from main thread. Everything works fine, I can connect, (from other aplication) send data, and stop the thread without problems.

Now I'm creating second thread. The second thread does not listen but connects to the first one.
The second thread code looks the same, the only dif

[2017-08-20 02:39] #54 closed

[2017-08-20 09:15] StormHub commented on #55
If you run both loops in the same app domain, the only things stream handles share is the buffer allocator which is thread safe. From the stack trace, it looks like the handle is still preparing to receive data.  Are you sure the server handles are inactive?  One more thing, it is better to close the loop with clients first before closing down the server.

[2017-08-21 09:35] Green7 commented on #55
In my test application I do not send any data.  ConnectedAction handler is empty but exception is raised.
I tried call streamHandle.CloseHandle() (from main thread) before _loop?.Dispose() - without succes, exception still exists.

[2017-08-21 09:52] StormHub commented on #55
Let me test this first and get back to you

[2017-08-21 10:12] StormHub commented on #55
One more thing you can do though is that call stream handle shutdown first before disposing the loop.
https://github.com/StormHub/NetUV/blob/c310cffa0b2735c80b19c6a8ad43e915d57c0d6f/test/NetUV.Core.Tests.Performance/TcpWriteBatch.cs#L72
That would stop handles from allocating memory.

[2017-08-21 14:11] Green7 commented on #55
If I do:
tcp.Shutdown(this.OnShutdown);  or simply tcp.CloseHandle() from  OnConnected/ OnAccept methods (as it is in TcpWriteBatch.cs) everything looks ok.

But I want to shutown from other thread, so I tried to call tcp.Shutdown(this.OnShutdown) from main thread but it does not work - OnShutdown event is not called (why ?).

[2017-08-21 19:56] StormHub commented on #55
Libuv requires all handle methods to be called in the same thread. As far as I know of, only async handle supports being called from another thread.

[2017-08-21 21:34] Green7 commented on #55
So, how to close for example server from other thread ?  Do you have a solution for this ?  Maybe is possible to send signal to server thread and close it from their thread ?

[2017-08-21 21:40] StormHub commented on #55
One way of doing it is to use async handle, similar to the EventLoop.
https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Channels/EventLoop.cs

[2017-08-29 17:53] oliverw commented on #40
@StormHub Out of curiosity. Do you have a rough idea how to implement this now that .Net Core 2.0 is out?

[2017-08-29 21:35] StormHub commented on #40
NetUV is going to stay on net standard 1.6 for quite some time. There are few options for ssl, for instance
https://github.com/Drawaes/Leto
Or open to the libuv approach, see
https://github.com/libuv/libuv/issues/1128

[2017-08-30 07:13] StormHub commented on #40
Another option will be managed ssl stream from .net. I haven't completely made my mind yet.

[2017-09-01 08:34] oliverw opened #56 "When to Dispose Async"
Is it valid to Dispose an Async Handle within its callback like this?:

[code]

The purpose of this example is to schedule the disposal of another loop-bound resource on the loop  thread.

[2017-09-01 09:59] StormHub commented on #56
Yes it is, normal once off running for async handle.
There are some cases where you need to worry about closure, I typically do something like this:

            asyncHandle = this.loop.CreateAsync(
                handle =>
                {
                    var disposible = handle.UserToken as IDisposable;
                    disposible?.Dispose();
                    handle.Dispose();

[2017-09-01 10:20] #56 closed

[2017-09-01 10:20] oliverw commented on #56
Thanks for the clarification.

[2017-09-02 11:01] seertenedos commented on #40
I would still love to see ssl support added

On 30 Aug. 2017 5:14 pm, "Johnny Z" <notifications@github.com> wrote:

[2017-09-02 22:19] StormHub commented on #53
I have added a method in ReadableBuffer
public void ReadBytes(Action<ArraySegment<byte>> processor, int length)
so that you don't have to copy data out to process.

Do you think this would be enough for your processing chunks?

[2017-09-02 22:30] StormHub commented on #40
Tls will be added for sure. The question is SslStream or openSsl at the moment.

[2017-09-02 22:31] #55 closed

[2017-09-03 19:25] fryderykhuang commented on #53
I my case, I need to calculate some aggregation of the buffer e.g. md5 without copy out the data, this callback syntax is not very convenient to use. Since the underlying buffer of ReadableBuffer is reference counted, it's guarenteed not being recycled before the end of stream consumer function. I don't see the point of using a callback.

[2017-09-03 20:22] StormHub commented on #53
I am trying to avoid returning buffer since the underlying buffer might not be a heap array, it could be unmanaged memory.

[2017-09-04 11:22] seertenedos commented on #40
Ok. Anything cross platform would be great

On 3 Sep. 2017 8:30 am, "Johnny Z" <notifications@github.com> wrote:

[2017-09-04 11:28] StormHub commented on #40
SslStream is not quite there yet.
see https://github.com/aspnet/KestrelHttpServer/tree/dev/src/Kestrel.Tls

[2017-09-06 09:49] Green7 commented on #53
public void ReadBytes(Action<ArraySegment> processor, int length)
so that you don't have to copy data out to process.
Do you think this would be enough for your processing chunks?

I think it should. But now I do not use NetUv. There are two reasons:
first: https://github.com/StormHub/NetUV/issues/55
Because I cant have client and server in this same application its impossible to do unit tests etc

[2017-09-06 19:57] StormHub commented on #53
Kestrel does the thread marshalling. Windows XP support is quite a stretch.

[2017-09-06 19:57] #53 closed

[2017-09-10 03:17] lth3726381 opened #57 "System.NullReferenceException In WriteRequest.Release()"
NetUV 0.1.125.0
Use NetUV as tcp server ,it happed when read and write lot of "packet".

System.NullReferenceException
HResult=0x80004003
Message=Object reference not set to an instance of an object.
Source=NetUV.Core
StackTrace:

 	NetUV.Core.dll!NetUV.Core.Requests.WriteRequest.Release() line 22
 	NetUV.Core.dll!NetUV.Core.Requests.WriteBufferRequest.OnWriteCallback(int status = 0) line 78
 	Net

[2017-09-10 03:21] lth3726381 opened #58 "System.AccessViolationException In StreamHandle.WriteStream"
Same scene in #57 ,but sometimes the excetion is AccessViolationException.
System.AccessViolationException
HResult=0x80004003
Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
  StackTrace:

NetUV.Core.dll!NetUV.Core.Native.NativeMethods.WriteStream(System.IntPtr requestHandle = {System.IntPtr}, System.IntPtr streamHandle = {System.IntPt

[2017-09-10 05:10] StormHub commented on #57
just to clarify, are the write requests submitted from another thread?

[2017-09-10 05:11] StormHub commented on #57
or within the loop thread.

[2017-09-10 05:15] StormHub commented on #58
There are two possible references causing the exception, one is that the tcp handle itself was invalid, e.g. disposed or closed. Or the request has been disposed. From the stack trace, it looks like the byte array is ok, no violation in length.
Are the writes actually called all in the loop thread?

[2017-09-10 05:23] lth3726381 commented on #57
write requests are submitted from another thread

[2017-09-10 05:29] StormHub commented on #57
That is the reason you get this, you have to submit the writes from the same loop thread;
Here is a simple once off Async handle to send the writes:
bytes[] data = ...;
Async async = loop.CreateAsync(handle =>
{
       tcp.QueueWriteStream((byte[])handle.UserToken);
       handle.Dispose();
});
async.UserToken = data;
async.Send();

[2017-09-10 05:31] StormHub commented on #57
If you want to constantly sending data, you have to run loop in a dedicated thread and post your requests to the loop thread. Again, you can use Async handle to wake up the loop. Similar to
https://github.com/StormHub/NetUV/blob/dev/examples/LoopThread/Program.cs

[2017-09-10 05:31] #57 closed

[2017-09-10 05:32] StormHub commented on #58
Please try to use
https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Channels/EventLoop.cs

[2017-09-10 05:32] #58 closed

[2017-09-10 05:33] lth3726381 commented on #58
writes are called from other threads,e.g .net's task thread pool

[2017-09-10 05:34] StormHub commented on #58
#57 If you are running into issues, please let me know and I can deal with them in the EventLoop

[2017-09-10 05:35] lth3726381 commented on #57
thanks

[2017-09-10 05:36] StormHub commented on #57
Again, please try EventLoop. If you have any issue, please feel free to provide feedback I can improve on.

[2017-09-19 10:34] oliverw commented on #40
@StormHub And update on this? I need to support TLS pretty soon and right now none the options discussed in this thread sound relatively painless. 😅

[2017-09-19 10:55] StormHub commented on #40
I plan to branch up and try plain ssl stream very soon.

[2017-09-19 12:09] oliverw commented on #40
@StormHub Would be nice if you could keep us updated on this

[2017-10-04 16:30] oliverw opened #60 "SegFault on Linux when server actively terminates client connection"
I'm getting repeated reports of [Segfaults on Linux](https://github.com/coinfoundry/miningcore/issues/11)  which all seem to be related to situations where the server actively terminates client connections.

Inspecting the core dump using gdb revealed this crash location: https://github.com/libuv/libuv/blob/v0.10/src/unix/stream.c#L867

Due to optimization being turned on it might be the <code>ass

[2017-10-04 19:49] StormHub commented on #60
One thing you might want to try out.
https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/JsonRpc/JsonRpcConnection.cs#L110
When the stream is ended (connection dropped), the completed will be called. You might want to send the a shutdown in the completed handler.

[2017-10-04 19:59] StormHub commented on #60
1. If the client connection interrupted, the server handle error will be called and send a shutdown on the server handle.
2. If the client connection ended (closed gracefully), the server handle complete will be called and send a shutdown on the server handle
The client side is similar, I tend not to explicitly use Async handle to issue a shutdown and wait for the "end of stream" signal (completed

[2017-10-04 20:01] StormHub commented on #60
Those are observations from my personal experiences working with libuv.
I only use Async handle if I want to schedule something within libuv thread, e.g. send some data immediately.

[2017-10-04 20:50] oliverw commented on #60
@StormHub Thanks a lot for the infos Johnny. I'm going to implement the changes and see how it goes.

[2017-10-04 22:16] StormHub commented on #60
Please let me know how this goes. BTW does this happen on windows platform?

[2017-10-05 07:46] oliverw commented on #60
@StormHub What's not entirely clear to me from your remarks is how the server forcefully terminates the client's connection. The OnCompleted and OnError handlers are called when the connection has ended but how do you initiate this in a safe way - avoiding the crashes we are talking about?

[2017-10-05 19:36] StormHub commented on #60
Sorry for the confusion. What you can try first is to put the close handle into OnCompleted, it is always called when a stream ends.

[2017-10-05 19:38] oliverw commented on #60
@StormHub Ok and leave the rest as it is?

[2017-10-05 19:42] StormHub commented on #60
Do you actively close server connection? If you do, just use Async to trigger a Shutdown, then later on the completed will be called.

[2017-10-06 06:49] StormHub commented on #60
BTW: if you share some gist to reprod the issue, I definitely can help you much more effectively :)

[2017-10-06 06:56] oliverw commented on #60
@StormHub That's the problem it only happens on production systems under load. It just happened again with the fix you recommended (moving CloseHandle to the OnCompleted handler):

[code]

[2017-10-06 07:05] StormHub commented on #60
From the stack trace, it looks like libuv attempts to write on some invalid request handle memory. Is this the server side or client side? or both running in the same loop?

[2017-10-06 07:08] StormHub commented on #60
Any prior error/exception on the handle?

[2017-10-06 07:08] oliverw commented on #60
The whole issue is the server side. The clients are not under my control and don't use LibUv at all.

[2017-10-06 07:09] oliverw commented on #60
Nope no managed exceptions (I would included them for sure). Just the segfault out of nowhere:

`Segmentation fault (core dumped)`

[2017-10-06 07:11] StormHub commented on #60
Could you show me the part where you send the write requests?

[2017-10-06 07:13] oliverw commented on #60
I'm pretty sure the crash is triggered either [here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/JsonRpc/JsonRpcConnection.cs#L112) or in the same file Line 121.

The only way how writes are enter the picture are the two <code>Send</code> methods in the same source file. Line 141 and 156.

[2017-10-06 07:22] StormHub commented on #60
I noticed that it is a straight byte[] writes, it might be worth experiment to see how that goes with the pooled buffer. For example:
            WritableBuffer buffer = tcp.Allocate(1024);
            buffer.WriteString("Somestring", Encoding.UTF8);
            tcp.QueueWriteStream(buffer, (h, e)=>
            {
                /* Do some error checking*/
                buffer.Dispose();

[2017-10-06 07:23] StormHub commented on #60
The pooled buffer will automatically expand, you just have to give it a reasonable size to begin.

[2017-10-06 07:34] oliverw commented on #60
Allright. I'm going to implement this. By the way I've also experimented with a [work-around](https://github.com/coinfoundry/miningcore/blob/libuv-crash/src/MiningCore/JsonRpc/JsonRpcConnection.cs), but for some reason <code>writesInFlight</code> often did not reach a value of zero in Line 213.

Interesting. Source?

[2017-10-06 08:06] StormHub commented on #60
It is a way to check whether it is a buffer memory problem or handle problem.
BTW: Where is the send gets called? is it within libuv thread? (it should be called libuv loop thread)

[2017-10-06 08:08] StormHub commented on #60
For some Unsafe copy problem, see this commends (already reported to MS)
https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Common/PlatformDependent.cs#L33
I am waiting for some sort of explanation at the moment.

[2017-10-06 08:10] oliverw commented on #60
@StormHub You mean the two <code>Send</code> methods of JsonRpcConnection? Those are called from any TaskPool thread. Judging by your comment this is just plain wrong, is it? (I was under the impression the queuing logic behind your QueueWrite implementation would make sure that the actual writes happen on the Loop thread. Have I been wrong?

[2017-10-06 08:24] StormHub commented on #60
Well, you have to use Async handle to marshal the send from within the libuv thread.
Initially that was my intention to do this automatically but some of my fellow programmers complain I do not stick to libuv principles, it got removed. e.g. make the wrapper layer as 'thin' as possible, but not less.

[2017-10-06 08:54] oliverw commented on #60
@StormHub Does the WritableBuffer also need to be allocated on the Loop thread?

[2017-10-06 09:28] oliverw commented on #60
I'm asking because [this implementation](https://github.com/coinfoundry/miningcore/blob/d642bcc9fffb74b92c83fd1a1704dc7ad3815900/src/MiningCore/JsonRpc/JsonRpcConnection.cs) works, while [this one](https://github.com/coinfoundry/miningcore/blob/5795f08044d6897683a8c4e19b57af62e00c0362/src/MiningCore/JsonRpc/JsonRpcConnection.cs) as soon as <code>Send</code> is called for the second time. It almost

[2017-10-06 09:57] StormHub commented on #60
Nope, the buffer pool is managed separately. Not part of libuv. The new buffer pool is in dev at the moment.

[2017-10-06 09:59] StormHub commented on #60
I might just want push the new release out from dev.

[2017-10-06 10:01] StormHub commented on #60
Could you just use byte[] for now to resolve the issue. Give a bit of time to tidy up the new buffer pool and release it. It was something I had been working on for quite some time. It is the last missing piece before ssl.

[2017-10-06 10:04] oliverw commented on #60
@StormHub Allright. Thanks for the heads up and all your help.

[2017-10-06 10:05] #60 closed

[2017-10-06 10:13] StormHub commented on #60
@oliverw Thanks for letting me know. I found the issue, it was the wrong byte offset.  But that does not matter much now because I have re written all of those. :)

[2017-10-06 10:40] oliverw commented on #60
@StormHub Hehe. Just let me know when the new buffer stuff is production ready.

[2017-10-06 13:41] oliverw commented on #60
@StormHub Totally weird. Even after the fix the app keeps crashing and crashing. It actually got worse.

[code]

[2017-10-06 20:05] StormHub commented on #60
1. Keep reusing the same Async handle
2. Save the Upstream into the Async.UserToken
Also, could you set the trace level to verbose and capture the log?

[2017-10-06 20:06] StormHub commented on #60
by the way, which libuv package are you using? is it the one built from AspNet?

[2017-10-06 20:19] StormHub commented on #60
From the stack, it is clearly not a buffer issue because
https://github.com/libuv/libuv/blob/v0.10/src/unix/async.c#L99
uses the local buffer to receive from io.

[2017-10-06 20:20] StormHub commented on #60
Meanwhile, this is actually within libuv io poll, not even passed along to managed code yet.

[2017-10-07 06:58] oliverw commented on #60
@StormHub Good morning Johnny. Sorry for responding late. I simply fell asleep after deploying an [emergency fix](https://github.com/coinfoundry/miningcore/blob/standard-sockets/src/MiningCore/JsonRpc/JsonRpcConnection.cs)  involving a rewrite of all socket comms using plain old TcpListener just to get this thing running stable over night. 😄

[2017-10-07 07:00] oliverw commented on #60
https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/MiningCore.csproj#L44

I'm using the one that satisfies NetUVs NuGet dependency.

[2017-10-07 07:06] StormHub commented on #60
Sorry, I mean the libuv dependency?

[2017-10-07 07:12] oliverw commented on #60
@StormHub I don't have a direct dependency on LibUv. I use what NetUVs references: https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/NetUV.Core.csproj#L28

[2017-10-07 07:29] StormHub commented on #60
Right. I am really interested in what happened on linux.
Give me a bit time and let me push out the new version with some sort of automatic libuv loop thread management. I cannot change handle interfaces, too many references to those. I have to offer something on top of libuv wrapper.
https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Channels/EventLoop.cs
And let you try it out.

[2017-10-07 07:31] oliverw commented on #60
@StormHub Looks interesting.

[2017-10-07 07:32] StormHub commented on #60
Basically freeing user code from those marshalling code. That was originally in the stream handle. I pulled all out.

[2017-10-07 07:35] oliverw commented on #60
@StormHub By the way, you wrote:

I'm not sure how this would work [here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/JsonRpc/JsonRpcConnection.cs#L160). I need a closure on the <code>data</code> parameter as there does not seem to be a way to pass state to the Async Handler through AsyncHandle.Send(). Did I miss something?

[2017-10-07 07:40] StormHub commented on #60
How about use some wrapper task to hold the stream handle and data to send, set it to the Async handle UserToken.
Now I probably see the problem here, the data lambda capture might be disposed on managed code.

[2017-10-07 07:40] oliverw commented on #60
@StormHub You mean the crash?

[2017-10-07 07:41] StormHub commented on #60
If you want the data to be held until sent, you have to get the handle to hold it. In managed code, delegate might be GC'd if you don't anything to hold it on the managed runtime.

[2017-10-07 07:41] StormHub commented on #60
Yep, it only happens on intensive load, GC triggers much more often.

[2017-10-07 07:42] StormHub commented on #60
Plus, you probably should us ServerGC on prod as well. That would make the GC behave a bit better under intensive load.

[2017-10-07 07:43] oliverw commented on #60
Is ServerGC even included in .net core?

[2017-10-07 07:43] oliverw commented on #60
NVM: https://stackoverflow.com/questions/44035282/how-can-i-enable-server-gc-in-net-core

[2017-10-07 07:44] StormHub commented on #60
This is another reason I prefer to have some sort of channel on top of libuv handles.
Yes
<ServerGarbageCollection>true</ServerGarbageCollection>

[2017-10-07 07:44] StormHub commented on #60
"<ServerGarbageCollection>true</ServerGarbageCollection"
put it in the csproj.

[2017-10-07 07:47] StormHub commented on #60
Really interested in get down to the bottom of this.

[2017-10-07 07:48] oliverw commented on #60
@StormHub Me. Too. By the way we could also move this conversation to a private Slack channel if you prefer.

[2017-10-07 07:53] StormHub commented on #60
We can go the
https://gitter.im//NetUV/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2017-10-10 02:54] seertenedos commented on #40
Any updates on this i know i still need this

On 19 Sep. 2017 7:09 pm, "Oliver Weichhold" <notifications@github.com>
wrote:

[2017-10-10 10:08] StormHub commented on #40
Well, I will try sslstream first and see how it goes

[2017-12-04 08:23] cathy33 opened #64 "Support websocket"
this project has tcp and http, can support websocket?
thanks

[2017-12-05 02:37] StormHub commented on #64
Well, Libuv is all about tcp/udp/pipe, http is considered 'higher level' tcp, kind of out of the scope for now.

[2017-12-07 05:42] #64 closed

[2018-01-25 19:25] oliverw commented on #40
Is this still on the roadmap? :)

[2018-01-25 21:09] StormHub commented on #40
@oliverw I am not sure when to jump on 2.0 at the moment :)

[2018-02-01 18:40] bonesoul opened #66 "update libuv v1.19.1?"

[2018-02-01 20:29] StormHub commented on #66
The referenced Libuv package is built from AspNet from Microsoft. 1.10.0 is the latest at the moment.

[2018-04-14 09:57] egmkang opened #70 "how can i use multi event loop?"
how can i use multi threads to improve the throughput?

[2018-04-14 22:53] StormHub commented on #70
You can use one loop to dispatch incoming connections into multiple loops. I will add an example shortly.

[2018-04-15 03:40] egmkang commented on #70
thank you very much

[2018-04-23 00:00] StormHub commented on #70
Please have a look at the files under https://github.com/StormHub/NetUV/tree/dev/examples/LoopThread

[2018-04-23 00:00] #70 closed, assigned to nobody

[2018-04-23 09:47] egmkang commented on #70
@StormHub
thankds very much

http://docs.libuv.org/en/v1.x/guide/processes.html#sending-file-descriptors-over-pipes

the c# version is similar with the c version.

[2018-05-17 08:19] introspection3 opened #73 "Can I join you?"
Can I join you?

[2018-05-17 08:24] introspection3 opened #74 "can you give a performance and stable test"
can you give a performance and stable test

[2018-05-17 08:49] introspection3 opened #75 "sir,you should update your prj to v2.1"
sir,you should update your prj to v2.1

[2018-05-18 09:03] StormHub commented on #75
In general, I stay as low version as I possibly maintain. For net ore 2.1 the option is to multi target

[2018-05-18 09:03] StormHub commented on #73
Sure, welcome as always

[2018-05-18 09:05] StormHub commented on #74
All CI builds have perf benchmarks. You can have a look at the build history.

[2018-05-21 01:01] introspection3 commented on #75
but .net core 1.* is out-of-date

[2018-05-21 03:14] StormHub commented on #75
It is but there are still lots of ppl out there using it.

[2018-05-21 08:08] introspection3 commented on #75
History is moving forward。
you can leave an old version，and go ahead

[2018-05-30 08:54] #73 closed, assigned to nobody

[2018-09-18 12:32] oliverw opened #78 "Support .NET Core 2.1 new memory primitives like Memory<T> and Span<T>"
Due to the way NetUV's ReadableBuffer is written, reading the data into a [Pipeline](https://blogs.msdn.microsoft.com/dotnet/2018/07/09/system-io-pipelines-high-performance-io-in-net/) requires a temporary copy step. It would be preferable if this could be avoided.

The optimal solution would be of course having NetUV supporting pipelines natively. :)

[2018-09-19 04:57] StormHub commented on #78
@oliverw yep but the catch is that those are net core specific, not *net standard 2.0*, MSFT is making things available in netstandard 2.1 :)

[2018-10-06 13:07] Tgsgf opened #79 "怎么才能正确使用"
我是个新手,我会使用C++版,但是项目需求需要移植到unity移动端,我想使用C#版,但是编译通过运行时报错：
“Echo client error System.TypeInitializationException: The type initializer for 'NetUV.Core.Native.NativeMethods' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'libuv' or one of its dependencies: The specified module could not be found.”;  是不是缺少了什么?

[2018-10-06 22:51] StormHub commented on #79
How do you execute the project? dotnet run or from executable?
If you do dotnet run from project folder, you should not have this problem.
If you run it by executable, you have to do a dotnet publish --self-contained to pull down all dependencies.
This is the way how dotnet core works.

[2018-10-07 09:56] Tgsgf commented on #79
噢!是我错了,我想把程序集统一改成2.1.-以上版本, 导致我添加的程序集是"libuv-cs(1.23.0.5)",所以会报错,我修改成"libuv(1.10.0)"运行成功！谢谢

[2018-10-07 11:56] Tgsgf commented on #79
@StormHub 我发现NetUV封装的发送和接收缓冲区很好,只不过我使用C++libuv版本作为服务器,protobuf作为传递消息结构, 但是我在NetUV使用UDP接收消息时发现最大缓冲是2048字节,超过这个字节数会截断,我知道UDP网络传输不建议超过2048字节, 超过2048字节可以拆开发送, 但是我的想改变最大接收缓冲以供我的需求,我要怎么设置才能增大接收缓冲区

[2018-10-07 21:28] StormHub commented on #79
The buffer gets a 2048 byte fixed buffer allocated at https://github.com/StormHub/NetUV/blob/dev/src/NetUV.Core/Handles/Udp.cs#L381
It can be changed to expose by buffer size parameter easily. But changing that buffer size might not help that much because IO receive buffer size is actually controlled by the operation system.  That was the reason that it is set to fixed 2k bytes.

[2018-10-10 13:10] Tgsgf commented on #79
@StormHub 如果我想通过另一个项目的可执行文件调用NetUV.Core编译出来的DLL,需要注意哪些细节吗? 我在可执行文件中加入了依赖项还是在运行时报错:"无法加载DLL“libuv”"

[2020-01-06 11:26] egmkang opened #80 "OnError never called"
run sample EchoServer, and `telnet 127.0.0.1 9988`, and then close telnet window

the sample will print
[code]

but `OnError` callback never be called.

[2020-01-06 11:51] egmkang commented on #80
@StormHub
https://github.com/StormHub/NetUV/blob/8ecc25e1656f94caf9b1dadb155e54c629d4dae6/src/NetUV.Core/Handles/StreamHandle.cs#L315

`End of file` is not an error, so OnError will not be called.....

[2020-01-06 13:19] StormHub commented on #80
I think OnError is not supposed to be called in this case.

[2020-01-07 04:23] egmkang commented on #80
@StormHub so how can i get the event, which the socket has been closed by remote

[2020-01-07 04:26] egmkang commented on #80
@StormHub
http://think-async.com/Asio/asio-1.12.2/doc/asio/reference/async_read.html

system call `read` return 0 may not be an error, but application want to know this event, this is important

[2020-01-20 02:31] StormHub commented on #80
Yep, I got the idea but now I am wondering how to expose this. For example, it could be a read complete with error or simply expose as error. Any preference from you?

[2020-01-20 08:36] egmkang commented on #80
all ways will be ok for me.
thanks.